doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title JS - 1
    body 
        div(class='container')
            input(type='button', value='Hi - Javascript', onclick='JSalert()')
            input(type='button', value='Task1', onclick='task1()')
            input(type='button', value='Task2', onclick='task2()')